* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: white;
    /*font-family: 'Sedgwick Ave Display', cursive;*/
    font-family: 'Playfair Display', serif;
}

#about-me h1 {
    font-size: 90px;
    text-align: center;
    margin: 0;
}

#about-me h2 {
    color: #d8d4d4;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#about-me {
    background-image: url(https://images.pexels.com/photos/2387533/pexels-photo-2387533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-color: #151515;
    background-attachment: fixed; 
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects {
    color: black;
    min-height: 100vh;
    width: 100%;
    background-color: #c2c2c2;
    text-align: center;
    /*min-height: 100vh;*/
}

#projects h1 {
    font-size: 50px;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.proj-row {
    display: flex;
    flex-direction: row;
}

#projects h2 {
    font-size: 30px;
}


/* flipping card info: https://youtu.be/NCLdf661ILE?si=AnW1ofb17IsXg-Bh */

.container {
    padding-top: 50px;
    width: 350px;
    height: 500px;
    perspective: 800px;
    color: #e0e0e0;
}

.container:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
    border: 0;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    padding: 10px;
}

.front {
    background-color: #151515;
    color: #d8d4d4;
}

.back {
    background-color: #3b3b3b;
    transform: rotateY(180deg);
}

#contact {
    background-image: url(https://images.unsplash.com/photo-1518989504269-a24cacf584d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2748&q=80);
    background-color: #151515;
    background-attachment: fixed; 
    background-position: center;
    color: white;
    min-height: 100vh;
    width: 100%;
}



#email-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email-form h3 {
    font-size: 25px;
    text-align: center;
}

form {
    padding: 2vw 4vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}

form input,
form textarea {
    border: 0;
    background-color: #262626;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #d8d4d4;
    max-width: 520px;
    min-width: 520px;
}

form textarea {
    resize: none;
}

form button {
    padding: 15px;
    background-color: #9e9e9e;
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}

form button:hover {
    background-color: #c2c2c2;
}

::placeholder {
    color: #a6a4a4;
    font-family: 'Playfair Display', serif;
}

#contact h1 {
    font-size: 50px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding-top: 30px;
}

#social-media a:link,
#social-media a:visited {
    color: #9e9e9e;
}

#social-media a:hover {
    color: #e0e0e0;
}

#social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 40px 0 0 0;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #3b3b3b;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: white;
}