body {
    background-color: #151515;
    color:white;
    /*font-family: 'Sedgwick Ave Display', cursive;*/
    font-family: "Quicksand";
    margin: 0; 
    padding: 0;
}

#about-me h1 {
    font-size: 90px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    text-shadow:5px 5px #DE1B1B;
    margin:0; 
}

#about-me h2 {
    color: #d8d4d4;
    text-align: center;
    font-size: 30px;
    /*text-shadow:2px 2px red,
    -2px -2px blue;*/
    margin:0; 
}

#about-me {

    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#projects {
    color:black; 
    min-height: 100vh;
    width: 100%;
    background-color: #DE1B1B;
    text-align: center;
    /*min-height: 100vh;*/
}

#projects h1 {
    font-size: 50px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    text-shadow:5px 5px white;
    margin:0; 
    padding-top: 30px;
}

#contact
{
    background-color: #151515;
    color:white;
    min-height: 100vh;
    width: 100%;
}

#email-form {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#email-form h3 {
    font-size: 25px;
    text-align: center;
}


form {
    background-color: #3b3b3b;
    padding: 2vw 4vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}

form input, form textarea{
    border: 0;
    background-color: #525252;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #d8d4d4;
    max-width: 580px;
    min-width: 580px;
}



form button {
    padding: 15px;
    background-color: #DE1B1B;
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}

::placeholder {
    color:#a6a4a4; 
    font-family: "Quicksand";
}

#contact h1
{
    font-size: 50px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    text-shadow:5px 5px #DE1B1B;
    margin:0; 
    padding-top: 30px;
}
